# URL of the server
EXPO_PUBLIC_SERVER_URL=https://example.com:3000
# Time, in milliseconds, until the current GPS location is consider stale (default: 300000)
EXPO_PUBLIC_LOCATION_MAX_AGE_MS=
# Time, in milliseconds, between alert polls to the server (default: 60000)
EXPO_PUBLIC_POLL_INTERVAL_MS=
