# Whether to use mock data (default: false)
MOCK_DATA=
# File containing mock data (default: mock-data.json)
MOCK_DATA_FILE=
# Database file (default: flow.db)
DB_FILE=
# Server port (default: 3000)
PORT=
# Distance for issuing an alert, in km, between a location and flood coordinates (default: 15)
ALERT_DISTANCE_KM=
# Interval in ms between polling for new flood data (default: 60000)
POLL_INTERVAL_MS=
# Minimum amount of time to wait before retrying to fetch flood data after an error (default: 5000)
MIN_RETRY_WAIT_MS=
# Maximum amount of time to wait before retrying to fetch flood data after an error (default: 60000)
MAX_RETRY_WAIT_MS=